.chat_container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  padding: 20px;
}

.chat_history {
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 10px;
  overflow: auto;
}

.chat_history::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  align-items: center;
}

.message_box {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-input {
  width: calc(100% - 100px);
  height: 40px;
  font-size: 20px;
  padding: 5px;
}

.message-btn {
  border: none;
  border-radius: 50%;
  background: transparent;
}

.bot_item_content {
  margin-left: 5px;
  padding: 20px 35px;
  background-color: rgb(219, 226, 235);
  border-radius: 20px;
}

.user_item_content {
  color: white;
  margin-right: 10px;
  padding: 20px 35px;
  background-color: rgb(0, 141, 254);
  border-radius: 20px;
}


.file-upload__container {
  width: 300px;
  height: 600px;
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
}

.file-upload__component {
  width: 250px;
  margin-top: 20px;
}

.pdf-view__container {
  height: 300px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(76, 76, 76);
}

.pdf-view__container::-webkit-scrollbar {
  display: none;
}

.text-view__container {
  height: 300px;
  width: 250px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(76, 76, 76);
}

.text-view__container p {
  text-align: left;
  word-wrap: break-word;
  overflow-y: auto;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  background-color: white;
  padding: 20px;
}

.text-view__container p::-webkit-scrollbar {
  display: none;
}

.file-upload__header {
  margin-top: 20px;
}